html {
    box-sizing: border-box;
    font-size: 16px;
  }
  
  *, *:before, *:after {
    box-sizing: inherit;
  }
  
  body, h1, h2, h3, h4, h5, h6, p, ol, ul, button {
    margin: 0;
    padding: 0;
    font-weight: normal;
    font-family: 'Barlow', sans-serif;
  }
  
  ol, ul {
    list-style: none;
}
header {
    background-size: cover;
    height: 100vh;
    width: 100%;
    background-image: url(../image/pexels-brett-sayles-4276427.jpg);
	position: relative;
}
header:before {
    content: '';
	display: block;
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color:rgba(0, 0, 0, .5);
}
.contant{
    position: absolute;
    right: 150px;
}
.header-container{
    display: flex;
    justify-content: center;
    margin-right: 15px;
    padding: 20px;
}
.content {
    padding-top: 10px;
}
.nav-link {
    color: whitesmoke;
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
    margin-right: 25px;
}
.btn_for_header{
    border-radius: 5;
    border: none;
    background-color: #FF4D01;
    color: whitesmoke;
    width: 129px;
    height: 54px;
    font-size: 16px;
}
.btn_for_header :active{
    transform: scale(.85);
}
button:active{
    transform: scale(.85);
}
.block-on-btn{
    padding-top: 10px;
    padding-left: 20px;
}
.btn-link {
    color: whitesmoke;
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
    margin-right: 25px;
}
.block_header{
    position: relative;
}
.provide{
    position: absolute;
    top: 251px;
    left: 650px;
    color: whitesmoke;
    font-weight: 400;
    font-size: 72px;
}
.Lorem{
    position: absolute;
    top: 451px;
    left: 650px;
    font-size: 18px;
    font-weight: 300;
    color: whitesmoke;
}
.two-btn{
    padding-left: 125px;
}
.transparent{
    background-image: none; 
    background: transparent;
    background-color: transparent;
} 
.mobile-button {
    border: solid 2px whitesmoke;
    width: 180px;
    height: 75px;
    left: 980px;
  }
.mobile-button i {
    font-size: 30px;
}

.btn_header{
    left: 750px;
    border-radius: 5;
    border: none;
    background-color: #FF4D01;
    color: whitesmoke;
    width: 169px;
    height: 75px;
    font-size: 16px;
}
.buttan{
    height: 75px;
    position: absolute;
    top: 551px;
    font-size: 18px;
    font-weight: 300;
    color: whitesmoke;
}
/* main */
.team{
    position: relative;
    height: 100vh;
    width: 100%;
}

 .builder{
    position: absolute;
    height: 681px;
    width: 479px;
    left: 146px;
    top: 100px;
} 
.square{
    position: absolute;
    width: 204px;
    height: 204px;
    border: #FF4D01 solid 3px;
    border-radius: 0px;
    top: 80px;
    left: 130px;
}
.main-contant{
    position: absolute;
    right: 150px;
    margin-top: 25px;
    width: 900px;
    height: 755px;

}
.about{
    position: absolute;
    left: 73px;
    padding-top: 50px;
    font-size: 25px;
    font-weight: 400;
    color: #FF4D01;
}
.experienced{
    position: absolute;
    left: 65px;
    padding-top: 90px;
    font-size: 54px;
    color: #191919;
    font-weight: bold;
}
.team-contant{
    position: absolute;
    left: 65px;
    top: 310px;
    font-size: 18px;
    width: 400px;
    line-height: 1.5;
    color: #605E5D;
}
span{
    color: #FF4D01;
}
.number{
    position: absolute;
    top: 500px;
    left: 75px;
}
.project{
    font-size: 18px;
    color: #989899;
    width: 400px;
}
.red{
    font-size: 72px;
    width: 400px;
}
.exprice{
    position: absolute;
    top: 500px;
    left: 300px;
}
.satisfied{
    position: absolute;
    top: 500px;
    right: 25px;
}
.our-company{
    position: absolute;
    top: 700px;
    border: solid 2px black;
    width: 237px;
    height: 75px;
    font-size: 18px;
}
.our-servise{
    position: relative;
    height: 120vh;
}
.services{
    position: absolute;
    left: 146px;
    padding-top: 50px;
    font-size: 25px;
    font-weight: 400;
    color: #FF4D01;
}
.comprehensive{
    position: absolute;
    left: 146px;
    padding-top: 100px;
    font-size: 54px;
    font-weight: 400;
    line-height: 62px;
}
.main-button{
    position: absolute;
    right: 150px;
    padding-top: 120px;
    margin-right: 25px;
}
.Get{
    border-radius: 5;
    border: none;
    background-color: #FF4D01;
    color: whitesmoke;
    width: 169px;
    height: 75px;
    font-size: 16px;
    margin-right: 25px;
}
.btn-1{
    border: solid 2px black;
    font-size: 18px;
    width: 211px;
    height: 75px;
    left: 980px;
}
.Interior44{
    /* border: 3px solid black; */
}
.form{
    width: 400px;
    height: 300px;
    /* border: 2px solid red; */
}
.Project-Planning{
    position: absolute;
    top: 300px;
    left: 150px;
}
.Planning{
    font-weight: bold;
    font-size: 34px;
    padding-top: 25px;
}
.dolor{
    padding-top: 30px;
    color: #605E5D;
    font-size: 18px;
    font-weight: 400;
}
.Project-Management{
    position: absolute;
    top: 300px;
    left: 600px;
}
.General-Contracting{
    position: absolute;
    top: 300px;
    right: 470px;
}
.Interior-Design{
    position: absolute;
    top: 650px;
    left: 150px;
}
.Exterior-Design{
    position: absolute;
    top: 650px;
    left: 600px;
}
.Space-Planning{
    position: absolute;
    top: 650px;
    right: 470px;
}
.Ready{
    position: relative;
    height: 545px;
    width: auto;
    left: 0px;
    top: 0px;
    border-radius: 0px;
    background-image: url(../image/AGE.png);
    background-size: cover;
}
.Ready-contant{
    position: absolute;
    height: 313px;
    width: 610px;
    left: 146px;
    top: 116px;
    border-radius: 0px;

}
.Ready-subtitle{
    font-size: 54px;
    font-weight: 400;
    line-height: 62px;
}
.paragraph{
    position: absolute;
    font-size: 18px;
    font-weight: 400;
    color: #605E5D;
    bottom: 115px;
    line-height: 30px;
}
.Our{
    height: 75px;
    width: 180px;
    border: solid 2px #191919;
    font-size: 18px;
}
.quote{
    height: 75px;
    width: 169px;
    background-color: #FF4D01;
    color: whitesmoke;
    border: none;
    font-size: 18px;
    margin-right: 35px;
}
.btn-on-ready{
    position: absolute;
    bottom: 0px;
}

.exceptional{
    position: relative;
    height: 100vh;
    width: 100%;
}
.image-exceptional{
    position: absolute;
    height: 681px;
    width: 479px;
    left: 146px;
    top: 100px;
}
.block-exceprional{
    position: absolute;
    height: 250px;
    width: 250px;
    left: -26px;
    top: -26px;
    border: #FF4D01 solid 3px;
    border-radius: 0px;
}
.content-exceptional{
    position: absolute;
    right: 350px;
    top: 106px;
    height: 530px;
    width: 680px;
}
.Choose{
    position: absolute;
    font-size: 25px;
    line-height: 22px;
    font-weight: 400;
    color: #FF4D01;
}

.quality{
    height: 186px;
    width: 473px;
    padding-top: 50px;
    font-size: 54px;
    font-weight: 400;
}
.paragrahp-exceprional{
    position: absolute;
    top: 260px;
    font-size: 18px;
    font-weight: 400;
    color: #605E5D;
}
.Check{
    position: absolute;
    bottom: 30px;
}
.nav-exceptional{
    font-size: 20px;
    font-weight: 500;
    line-height: 26px;
    padding: 5px;
    color: #191919;
}
.We-help-you {
    position: relative;
    height: 100vh;
    width: 100%;
}
.block-help{
    position: absolute;
    left: 195px;
    height: 400px;
    width: 550px;
}
.help{
    padding: 15px;
    font-size: 54px;
    font-weight: 400;
    line-height: 62px;
}
.aliquet{
    padding: 10px;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 2px;
    color: #605E5D;
}
.Successful {
    position: absolute;
}
.Client {
    position: absolute;
    left: 250px;
}
.img-help{
    position: absolute;
    right: 300px;
}
.help-me{
    position: absolute;
    height: 250px;
    width: 250px;
    right: 270px;
    bottom: 370px;
    border: #FF4D01 solid 3px;
}
.sharik{
    position: relative;
    height: 100vh;
    width: 100%;
}
.past{
    position: absolute;
    top: 120px;
    left: 145px;
    font-size: 25px;
    line-height: 22px;
    font-weight: 400;
    color: #FF4D01;
}
.results{
    position: absolute;
    top: 150px;
    left: 145px;
    font-size: 54px;
    font-weight: 400;
    line-height: 62px;
}
.btn-sharik{
    position: absolute;
    top: 150px;
    right: 170px;
    height: 75px;
    width: 180px;
    border: solid 2px #191919;
    font-size: 18px;
}
.browse{
    position: absolute;
    top: 150px;
    right: 370px;
    height: 75px;
    width: 169px;
    background-color: #FF4D01;
    color: whitesmoke;
    border: none;
    font-size: 18px;
    margin-right: 35px;
}
.container{
    position: absolute;
    top: 300px;
    left: 150px;
    height: 611px;
    width: 545px;
}
.block-image{
    position: absolute;
    height: 611px;
    width: 545px;
    background-image: url(../image/IMAGE.png);
    background-size: cover;
}
.hearts {
    position: absolute;
    top: 250px;
    left: 25px;
    font-size: 34px;
    font-weight: 400;
    line-height: 48px;
    bottom: 25px;
    color:  #FFFFFF;
    font-family: sans-serif;
}
.hire {
    position: absolute;
    bottom: 134px;
    left: 15px;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    color: #EAEAEB;
}
a{
    text-decoration: none;
}
.link{
    position: absolute;
    bottom: 36px;
    left: 85px;
   color: #EAEAEB;

}
.content-container{
    position: absolute;
    top: 300px;
    right: 350px;
    height: 611px;
    width: 545px;
}
.block-image-container{
    position: absolute;
    height: 611px;
    width: 545px;
    background-image: url(../image/ddd.png);
    background-size: cover;
}
.clients-test{
    position: absolute;
    top: 50px;
    left: 150px;
    width: 700px;
    height: 350px;
}
.clients{
    position: relative;
    height: 100vh;
    width: 100%;
}
.test{
    position: absolute;
    top: 80px;
    font-size: 25px;
    line-height: 22px;
    font-weight: 400;
    color: #FF4D01;
}
.work{
    position: absolute;
    top: 130px;
    font-size: 54px;
    font-weight: 400;
    line-height: 62px;
}
.man{
    position: absolute;
    bottom: 40px;
    left: 100px;
    width: 800px;
    height: 500px;
}
.true-team{
    position: absolute;
    top: 50px;
    right: 145px;
    font-size: 28px;
    font-weight: 400;
    line-height: 38px;
    color: #191919;
}
.amet{
    position: absolute;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    color: #989899;
    padding: 15px;
    letter-spacing: 3px;
}
.size-text{
    position: absolute;
    top: 120px;
    right: 1px;
    width: 450px;
    height: 200px;
}
.people-info{
    position: absolute;
    bottom: 5px;
    left: 20px;
}
.na{
    font-size: 18px;
    font-weight: 400;
    line-height: 20px;
    color: #191919;
}
.fr{
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0.8px;
    color: #989899;
}
.girl{
    position: absolute;
    bottom: 40px;
    right: 100px;
    width: 800px;
    height: 500px;}
.never{
    position: absolute;
    top: 50px;
    right: 225px;
    font-size: 28px;
    font-weight: 400;
    line-height: 38px;
    color: #191919;
}
.text-size{
    position: absolute;
    top: 120px;
    right: 1px;
    width: 450px;
    height: 200px;
}
.dolor{
    position: absolute;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    color: #989899;
    padding: 15px;
    letter-spacing: 3px;
}